<!-- VARIANT 3: Right-ALIGNED HERO -->
<!-- HERO START -->
<div
  class="grid md:grid-cols-2 items-center md:gap-4 gap-8 max-w-5xl max-md:max-w-md mx-auto"
>
  <div class="max-md:order-1 max-md:text-center">
    <h3 class="text-slate-900 font-medium md:text-3xl text-2xl md:leading-10">
      {{HERO_TITLE}}
    </h3>
    <p class="mt-4 text-sm text-slate-600 leading-relaxed">{{HERO_SUBTITLE}}</p>
    <button
      type="button"
      class="px-5 py-2.5 mt-10 rounded text-[15px] font-medium outline-none tracking-wide bg-blue-600 text-white hover:bg-blue-700"
    >
      {{HERO_BUTTON_TEXT}}
    </button>
  </div>
  <div class="md:h-[470px]">
    <img
      src="https://readymadeui.com/photo.webp"
      class="w-full h-full md:object-contain"
    />
  </div>
</div>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4 text-center">
      <div class="p-4 sm:w-1/4 w-1/2">
        <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900">
          2.7K
        </h2>
        <p class="leading-relaxed">Users</p>
      </div>
      <div class="p-4 sm:w-1/4 w-1/2">
        <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900">
          1.8K
        </h2>
        <p class="leading-relaxed">Subscribes</p>
      </div>
      <div class="p-4 sm:w-1/4 w-1/2">
        <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900">
          35
        </h2>
        <p class="leading-relaxed">Downloads</p>
      </div>
      <div class="p-4 sm:w-1/4 w-1/2">
        <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900">
          4
        </h2>
        <p class="leading-relaxed">Products</p>
      </div>
    </div>
  </div>
</section>
